[importlinter]
root_packages =
    profile_db

[importlinter:contract:1]
name = pfdb-foundation-layering
type = layers
layers =
    profile_db.__main__
    profile_db.cli
    profile_db.ingest
    profile_db.db
    profile_db.facts
    profile_db.schema
    profile_db.errors